@charset "UTF-8";
/* CSS Document */

body{
	background-color: #f33d6e;
	color: #fff;
	border: dashed #000;
	margin: 2px;
}

/*text styling*/

h1{
	font-size: 2.5em;	
}

p{
	font-size:1.2em;
}

h2{
	font-size:1.9em;
	padding: 1%;
}

article{
	display: block;
	width: 90%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 4%;
	background-color: rgba(43,186,125,0.96);
	padding: 2%;
}

img {
	max-width:100%;
	border:thick groove #36d792;	
}

#intro{
	background-color: #36D792;
	border: groove;
	color: rgba(65,65,65,1.00);	
	padding: 1%;
	margin: 3%;
}


nav{
	width: 100%;
	display: inline;	
	
	
}
nav ul li{
	display: inline-block;
	text-align:justify;
	padding: 5%;	
	font-size:1.1em;
}

a:link, a:visited {
    text-decoration: none;
	color: #c0f400;
}

a:hover, a:active {
    text-decoration: underline;
	font-size: 1.3em;
}
