@charset "UTF-8";
/* CSS Document */

body{
	background-color: #f36d91;
	color: #fff;
}

article{
	display: block;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	martin-top: 3%;
}

img {
	max-width:100%;
	border:thick groove #36d792;	
}

#intro{
	background-color: #36D792;
	border: groove;
	color: rgba(65,65,65,1.00);	
	padding: 1%;
	margin: 3%;
}

