@charset "UTF-8";
/* CSS Document */

/*General Styling*/

body{
	background-color: #f33d6e;
	border: dashed #000;
	margin: 2px;
}

a:link, a:visited {
    text-decoration: none;
	color: #c0f400;
}

a:hover, a:active {
    text-decoration: underline;
	font-size: 1.3em;
}

button{
	width: 30%;
	height: 50px;
	font-size: 1.2em;
	background-color: #24C681;	
}

button > a:hover{
	font-size: 1.2em;
}

/**************************************
*Contact Form component styling*
**************************************/

section{
	background-color: #374046;
	width: 1230px;
	height: 650px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Alegreya Sans', sans-serif;
	
}

h1{
	color: #fff;
	text-transform: uppercase;
	font-weight:300;
	margin-top: 58px;
	font-size: 1.9em;
}

p{
	color: #75848d;	
	margin-top: 25px;
	font-size: 1.1em;
}

#green{
	color: #50ae55;
}

ul{
	
}

ul li{
	position: relative;
	left: -45px;
	display: inline-block;
	margin-right: 5px;
}



#left{
	width: 357px;
	float: left;	
	padding-left: 30px;
}

#right{
	width: 843px;
	float: right;
}

input{
	background-color: #374046;
	color: #75848d;	
	padding-left: 40px;
	height: 51px;
	width: 349px;
	margin-right: 26px;
	margin-top: 11px;
	border: solid thin #75848d;
	font-size: 0.9em;
}

textarea{
	background-color: #374046;
	height: 245px;	
	width: 730px;
	color: #75848d;	
	margin-top: 33px;
	border: solid thin #75848d;
	padding:40px;
	font-size: 0.9em;
}

form button{
	background-color: #50ae55;
	text-transform: uppercase;
	color: #fff;
	width: 812px;
	font-weight: 300;
	border: none;
	margin-top: 25px;
}