<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Contact Form</title>
<link href="contact_form.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400" rel="stylesheet" type="text/css">
</head>

<body>
	<section>
    	<div id="left">
        	<h1>Address</h1>
            <p>4578 Marmora Road, Glasgow D04 89GR</p>
            <h1>Phones</h1>
            <p>800-2345-6789; 800-2345-6790</p>
            <h1>E-Mail</h1>
            <p id="green">info@demolink.org</p>
            <h1>Follow Us</h1>
            <p></p>
        </div>
        <div id="right">
        	<h1>Get in touch</h1>
        </div>
    </section>
	<button><a href="../../index.html">Go To Main Page</a></button>
</body>
</html>
