<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome Modal Component</title>
<link href="welcome_modal.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="modal">
    	<p id="close">X</p><br>
    	<h1>Newsletter</h1>
        <p>Subscribe to the MOTO mailing list to receive updates on new arrivals, special offers<br>and other discount information.</p> <br>
        <form>
        	<label>Enter Email: </label><input type="email">
        </form><br><br>
        <button id="subscribe">Subscribe</button>
    </div>
    <br>
	<a href="../../index.html" id="home">Go To Main Page</a>
</body>
</html>
