<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link href="../CSS/styles.css" rel="stylesheet" type="text/css" />
</head>
	<nav>
    	<ul id="nav_bar_design">
        	<li class="nav_bar_item"><a href="">Home</a></li><!--
            --><li class="nav_bar_item"><a href="">About Me</a></li><!--
            --><li class="nav_bar_item"><a href="">Resume</a></li><!--
            --><li class="nav_bar_item"><a href="">Blog</a></li><!--
            --><li class="nav_bar_item"><a href="">Gallery</a></li><!--
            --><li class="nav_bar_item"><a href="">Contact Me</a></li>
        </ul>
    </nav>
    <button><a href="../index.html">Go To Main Page</a></button>
<body>
</body>
</html>
