<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Nav Component</title>
<link href="../CSS/styles.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css">
</head>
	<nav>
    	<ul id="nav_bar_design">
        	<li id="selected"><a href="">HOME</a></li><!--
            --><li class="nav_bar_item"><a href="">ABOUT ME</a></li><!--
            --><li class="nav_bar_item"><a href="">RESUME</a></li><!--
            --><li class="nav_bar_item"><a href="">BLOG</a></li><!--
            --><li class="nav_bar_item"><a href="">GALLERY</a></li><!--
            --><li class="nav_bar_item"><a href="">CONTACT ME</a></li>
        </ul>
    </nav>
    <button><a href="../index.html">Go To Main Page</a></button>
<body>
</body>
</html>
