<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Footer Component</title>
<link href="footer.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css">
</head>

<body>
	<footer>
    	<div id="footerTop">
        	<img src="location.png" alt="location"><p>New York 9870 St Vincent<br><span>Glasgow</span></p>
            <img src="email.png" alt="email"><p>contact@demolink.org</p>
            <img src="phone.png" alt="phone"><p>Call Us:<br>+1 800 603 6035</p>
        </div>
        <div id="footerBottom">
        	<p><span id="large">IBC</span> &copy; 2015 Privacy policy</p>
            <img src="map.png" alt="map" width="600" id="map"/>
            <ul>
            	<li><a href=""><img src="twitter.png" alt="twitter" width= "50" height= "50"/></a></li>
                <li><a href=""><img src="twitter2.png" alt="twitter" width= "50" height= "50"/></a></li>
                <li><a href=""><img src="youtube.png" alt="youtube" width= "50" height= "50"/></a></li>
                <li><a href=""><img src="rss.png" alt="rss" width= "50" height= "50"/></a></li>
                <li><a href=""><img src="facebook.png" alt="facebook" width= "50" height= "50"/></a></li>
                <li><a href=""><img src="google.png" alt="google" width= "50" height= "50"/></a></li>
                
            </ul>
        </div>
    </footer>
	<button><a href="../../index.html">Go To Main Page</a></button>
</body>
</html>
