<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Call to Action</title>
<link href="call_to_action.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,500,700' rel='stylesheet' type='text/css'>
</head>

<body>
	<section>
    	<h1><strong>Offering high-class web site development</strong></h1>
        <p><em>Our professional services are the keys to your success</em></p>
        <button>Learn more</button>
    </section>
	<button><a href="../../index.html">Go To Main Page</a></button>
</body>
</html>
